<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<div class="wrapper">
   <img class="img-responsive" src="/images/mapsLogin.jpg" alt="mapsImage">


<form action="login" class="form-inline" id="loginForm" method="POST">

  <div class="form-group">
    <label class="sr-only" for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="text">
    <label class="text">
      <p>First time here? Please <a href="/api/users/signup">register.</a></p>
  </div>
  <div class="signInButton">
  <button type="submit" class="btn btn-primary">Sign in</button>
</div>
<br>
<% if (typeof(errorMsg) !== 'undefined') { %>
  <div class="alert alert-danger" id="alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= errorMsg %>
  </div>
<% } %>

</form>

</div>


<script>

 $(document).ready(function() {
   $('#alert-danger').fadeIn().delay(3000).fadeOut();
 });

</script>
