<html lang="en">

  <head>
    <title>Login form</title>
  </head>

  <body>

    <form action="/api/users/signup" method="POST">

      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" name="submit" value="SignUp">

    </form>

  </body>

</html>
